<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "head.html" . }}
    <main class="commonMain homeMain">
      <article class="commonArticle homeArticle">
        <section class="content">
        {{ $pages := .Site.RegularPages }}
        {{ $filteredPages := where $pages "Params.hidden" "ne" true }}
        {{ range $filteredPages }}
          <section class="content-entry">
            <time class="content-time">{{ dateFormat "2006.01.02 15:04" .Date }}</time>
            <h3 class="content-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{ template "partials/pagedescription.html" . }}
            <br>
          </section>
        {{ end }}
        </section>
        <section class="placeholder"></section>
      </article>
      <aside class="commonRightSide homeRightSide">
        <section class="content">
          <ul class="tags">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <li>
              <i data-feather="tag"></i>
              <a href="{{ "tags/" | absURL }}{{ $name | urlize }}">{{ $name }}({{ $taxonomy.Count }})</a>
            </li>
            {{ end }}
          </ul>
       </section>
      </aside>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>