{{ define "main" }}
<main class="commonMain listMain">
  <article class="commonArticle listArticle">
    {{ if isset .Data "Term" }}
    <h1>🏷️{{ .Data.Term}}</h1>
    {{ else }}
    <h1 class="page-title">Articles</h1>
    {{ end }}
    <section class="content">
      <ul class="posts">
        {{- range .Data.Pages -}}
          {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
          <li class="post">
            <a href="{{ .RelPermalink }}"><time>{{ dateFormat "2006-01-02" .Date }}</time> {{.Title}}</a>
          </li>
          {{- end -}}
        {{- end -}}
      </ul>
    </section>
    <section class="placeholder"></section>
  </article>
  <aside class="commonRightSide listRightSide">
    <section class="content">
      <ul class="tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li>
          <a href="{{ "tags/" | absURL }}{{ $name | urlize }}"><i data-feather="tag"></i>{{ $name }}</a>({{ $taxonomy.Count }})
        </li>
        {{ end }}
      </ul>
    </section>
  </aside>
</main>
{{ end }}
