{{ define "main" }}
<main class="commonMain termsMain">
  <article class="commonArticle termsArticle">
    <h1 class="page-title">Archives</h1>
    <section class="content">
      <ul class="tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <li>
          <a href="{{ "tags/" | absURL }}{{ $name | urlize }}">{{ $name }}</a>({{ $taxonomy.Count }})
        </li>
        {{ end }}
      </ul>
    </section>
  </article>
  <aside class="commonRightSide termsRightSide"></aside>
</main>
{{ end }}
