/* --------------------通用配置------------------- */
body {
  color: #afafaf;
  background-color: #202124;
  background-image:
    linear-gradient(to right, rgba(224, 108, 117, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(224, 108, 117, 0.05) 1px, transparent 1px);
}

* {
  scrollbar-color: var(--scrollbarDarkColor);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--titleDarkColor);
}

/*--------------------引用块配置--------------------- */
blockquote {
  background: rgba(250, 235, 215, 0.1);
  color: var(--darkMaincolor);
  border-left-color: var(--darkMaincolor);
}

a:hover {
  border-bottom-color: var(--darkMaincolor);
}

/* --------------------图片配置------------------- */
img {
  border-color: #282c34;
}

/* --------------------分割线配置-------------------*/
hr {
  border-top-color: #c678dd;
}

/*--------------------表格配置---------------------*/
table, table th, table td {
  /* border-color: #abb2bf; */
  border-color: var(--tableDarkcolor);
}

table th {
  color: var(--darkMaincolor);
  /* background-color: #3c3e42; */
  background-color: var(--codeblockDarkcolor) !important;
}

/* --------------------代码块配置------------------- */
code {
  color: var(--darkMaincolor);
  /* background-color: #3c3e42; */
  background-color: var(--codeblockDarkcolor) !important;
}

pre {
  /* scrollbar-color: #abb2bf #202124; */
  /* background-color: #3c3e42 !important; */
  scrollbar-color: rgba(171, 186, 191, 0.2) #202124;
  background-color: var(--codeblockDarkcolor) !important;
}

.chroma {
  color: var(--fontDarkColor) !important;
}

/* --------------------header配置------------------- */
.headerMenu a {
  color: var(--titleDarkColor);
  border-bottom: 2px solid var(--darkMaincolor);
}

/*---------------------搜索框配置------------------- */
.headerMenuSearch .searchInput {
  color: var(--titleDarkColor);
  /* background-color: #202124; */
  background-color: unset;
  border-bottom-color: var(--darkMaincolor);
}

.headerMenuSearch .searchOutput {
  background: rgba(32, 33, 36, 0.9);
}

.headerMenuSearch .searchOutput a {
  color: var(--fontDarkColor);
}

.headerMenuSearch .searchOutput a:hover {
  border-bottom-color: var(--darkMaincolor);
}

/* --------------------footer配置------------------- */
.footerMenu {
  border-top-color: var(--darkMaincolor);
}

.singleArticle a {
  color: #61afef;
}

.commonRightSide {
  color: var(--fontDarkColor);
}

.singleRightSide .tags a {
  color: var(--darkMaincolor);
  background-color: var(--tagDarkColor);
  border-bottom-color: var(--darkMaincolor);
}

#TableOfContents a.active {
  color: var(--darkMaincolor);
}
