/* -------------------footer配置------------------- */
.footerMain {
  display: none;
  height: 10vh;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-style: dotted;
  border-top-width: 4px;
  border-top-color: var(--maincolor);
}