/*-------------------header配置-------------------*/
.headerMain {
  margin-top: 1em;
  margin-bottom: 2em;
  overflow-y: visible;
  /* overflow-wrap:break-word; */
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: 1em;
  z-index: 20;
}

.headerMenu {
  display: flex;
  gap: 20px;
}

.headerMenu a {
  border-bottom: 2px solid var(--maincolor);
}

.headerMenuHome {
  flex: 0 0 41%;
}

.headerMenuHome, .headerMenuOthers {
  display: flex;
  gap: 10px;
}

.headerMenuOthers {
  flex: 0 0;
  margin-left: auto;
}

/*--------------------搜索框配置------------------- */
.headerMenu.searchActive nav:not(.headerMenuSearch) {
  display: none;
}

.headerMenuSearch {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
}

.headerMenuSearch.expanded {
  flex: 0 0 100%;
}

.headerMenuSearch .searchContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-width:2px;
  position: relative;
}

.headerMenuSearch .searchInput {
  font-size: 1.2rem;
  width: 100%;
  padding-top: 3px;
  border-style: none;
  background-color: unset;
  border-bottom-style: solid;
  border-bottom-color: var(--maincolor);
}

.headerMenuSearch .searchInput:focus {
  outline: none;
  box-shadow: none;
}

.headerMenuSearch .searchOutput {
  background: rgba(255, 255, 255, 0.9);
  font-size: medium;
  font-weight: normal;
  line-height: 1.2em;
  padding-bottom: var(--gMarginBottomSize);
  position: absolute;
  top: 100%;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /* box-shadow: 0 4px 8px rgba(199, 37, 78, 0.1); */
}

.headerMenuSearch .searchOutput a {
  border-bottom-style: none;
}

.headerMenuSearch .searchOutput a:hover {
  border-bottom: 2px solid var(--maincolor);
}
