/*-----------------主页配置----------------------*/
.homeArticle .content-entry {
  /* margin-bottom: 0.25em; */
  display: flex;
  gap: 10px;
}

.homeArticle .content-time {
  flex: 0 0 16%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homeArticle .content-title {
  margin: unset;
  flex: 0 1 26%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homeArticle .content-entry .description {
  flex: 0 2 66%;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homeArticle .content {
  min-height: 10vh;
}

.homeArticle .placeholder {
  min-height: 80vh;
}

.homeRightSide .tags li {
  display: flex;
  align-items: center;
}