/* ------------------通用配置------------------- */

:root{
--maincolor: #c7254e;
--bordercl:rebeccapurple;
--callouctcolor:dodgerblue;
--hovercolor:navy;
--darkMaincolor: #e06c75;
--codeblockcolor: rgba(236, 236, 236, 0.5);
--codeblockDarkcolor: rgba(60, 62, 66, 0.4);
--tablecolor: rgba(199, 37, 78, 0.4);
--tableDarkcolor: rgba(171, 186, 191, 0.4);
--titleDarkColor: #d3d5d7;
--mainArticleSize: 60%;
--rightSideSize: 16%;
--gMarginBottomSize: 8px;
--scrollbarColor: rgba(102, 102, 102, 0.2) #ffffff;
--scrollbarDarkColor: rgba(171, 186, 191, 0.2) #202124;
--tagColor: rgba(102, 102, 102, 0.2);
--tagDarkColor: rgba(171, 186, 191, 0.2);
--fontColor: #232333;
--fontDarkColor: #afafaf;
--mermaidLineColor: rebeccapurple;
--marmaidLineDarkColor: #9370DB;
}

html {
  /* color: #232333; */
  color: var(--fontColor);
  font-family: 'Roboto Mono';
  font-size: 15px;
  line-height: 1.4em;
  overflow: hidden;
}

body{
  display: block;
  overflow: hidden;
  height: 100vh;
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgba(199, 37, 78, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(199, 37, 78, 0.05) 1px, transparent 1px);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor);
  margin:unset;
  word-break: break-all;
}

::selection {
  color: #fff;
  background: var(--bordercl);
}

p {
  margin-bottom: var(--gMarginBottomSize);
}

svg {
  max-height: 15px;
}

time {
  color: grey;
}

h1 {
  margin-bottom: var(--gMarginBottomSize);
  font-size: 1.2rem;
}

h2 {
  margin-bottom: var(--gMarginBottomSize);
  font-size: 1.1rem;
}

h3, h4, h5 {
 margin-bottom: var(--gMarginBottomSize);
  font-size: 1.0rem;
}

/*--------------------引用块配置--------------------- */
blockquote {
  background: rgba(250, 235, 215, 0.4);
  color: var(--maincolor);
  padding: 0.5em;
  margin-bottom: var(--gMarginBottomSize);
  border-left: 2px solid var(--maincolor);
}

blockquote p {
  margin: 0;
}

/*-------------------a标签配置------------------- */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid var(--maincolor);
}

/* --------------------分割线配置------------------- */
hr {
  border: 0;
  margin-bottom: var(--gMarginBottomSize);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--maincolor);
}

/*----------------无序列表配置------------------- */
ul {
  list-style: none;
  padding-left: 2ch;
  margin-bottom: var(--gMarginBottomSize);
}
/* ul li {
  text-indent: -2ch;
} */
ul > li::before {
  content: '• ';
  font-weight: bold;
}

/*--------------------表格配置---------------------*/
table {
  margin-bottom: var(--gMarginBottomSize);
  border-collapse: collapse;
  width: 100%;
}

table, table th, table td {
  /* border: 1px dotted #dfe2e5; */
  /* border: 1px dotted var(--maincolor); */
  border: 1px solid var(--tablecolor);
}

table th, table td {
  padding: 6px 13px;
  text-align: left;
}

table th {
  color: var(--maincolor);
  /* background-color: #ececec; */
  background-color: var(--codeblockcolor);
}

/* --------------------图片配置------------------- */
img {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  /* border-color: #ececec; */
  border-color: var(--codeblockcolor);
  max-width: 100%;
}

/* --------------------common配置    ------------ */
.commonMain {
  margin-bottom: var(--gMarginBottomSize);
  height: 90vh;
  overflow-y: auto;
  /* overflow-wrap:break-word; */
  display: flex;
  gap: 20px;
  justify-content: center; /*水平居中*/
  align-items: flex-start; /*顶端对齐*/
}

.commonArticle {
  width: var(--mainArticleSize);
  margin-left: auto;
  margin-right: 0;
}

.commonRightSide {
  top: 0em;
  color: #232333;
  position: sticky;
  align-self: flex-start;
  width: var(--rightSideSize);
  margin-right: auto;
}

.commonRightSide .content ul {
  margin-top: unset;
}

.commonRightSide .content li::before{
  content: none;
}
