/* --------------------mermaid配置------------------- */
.mermaid {
  border-radius: 4px;
  background-color: var(--codeblockcolor);
}

.mermaid svg {
  max-height: unset;
  /* height: 60vh; */
  max-width: 100% !important;
}

/* .mermaid .nodes .node .label-container {
  fill: var(--codeblockcolor) !important;
  stroke: var(--mermaidLineColor) !important;
  rx: 4px;
  ry: 4px;
}

.mermaid .edgePaths .flowchart-link {
  stroke: var(--mermaidLineColor) !important;
}

.mermaid .marker {
  fill: var(--mermaidLineColor) !important;
} */