/*------------------窗口适配----------------------*/
@media (max-width: 1024px) {
  :root {
    --mainArticleSize: 90%;
  }
  .commonRightSide {
    display: none !important;
  }
  .homeArticle .content-entry {
    display: block;
  }
  .homeArticle .content-time {
    display: none;
  }
  .headerMenu, .commonArticle {
    margin-right: auto;
  }
  .listArticle time {
    display: none;
  }
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  :root {
    --mainArticleSize: 90%;
  }
  .homeArticle .content-time {
    flex: 0 0 20%;
  }
} */

@media (min-width: 1025px) and (max-width: 1440px) {
  :root {
    --mainArticleSize: 70%;
    --rightSideSize: 22%;
  }
  .headerMenu a#tag {
    display: none;
  }
  .commonArticle {
    margin-left: 50px;
  }
  .commonRightSide {
    margin-right: 50px;
  }
}

@media (min-width: 1441px) {
  :root {
    --mainArticleSize: 60%;
  }
  .headerMenu a#tag {
    display: none;
  }
  .commonArticle {
    margin-left: 200px;
  }
  .commonRightSide {
    margin-right: 200px;
  }
}