/* -------------------单页配置---------------------- */
.singleArticle a {
  color: mediumblue;
}

.singleArticle .footerMenu a {
  color: inherit;
}

.singleArticle .titleSection {
  margin-bottom: 2em;
}

.singleArticle .titleSection .title {
  margin-bottom: 0.2em;
}

.singleArticle .content {
  min-height: 10vh;
}

.singleArticle .placeholder {
  min-height: 80vh;
}

/* -------------------目录配置---------------------- */
.tocContainer {
  height: 80vh;
  overflow-y: auto;
}

.tocContainer ul {
  margin: unset;
}

.tocContainer li {
  font-size: small;
  line-height: 1.2em;
}

.tocContainer a.active {
  font-weight: bold;
  color: var(--maincolor);
}

.tocContainer .tags ul{
  display: flex;
  gap: 20px;
  margin-top: var(--gMarginBottomSize);
  margin-left: 2ch;
}

.tocContainer .tags a {
  /* font-size: medium; */
  color: var(--maincolor);
  background-color: var(--tagColor);
  border-radius: 4px;
  border-bottom: 2px solid var(--maincolor);
  padding-left: 5px;
  padding-right: 5px;
}

.tocContainer .tags li::before{
  content: none;
}
