/* -------------------单页配置---------------------- */
.singleArticle a {
  color: mediumblue;
}

.singleArticle .footerMenu a {
  color: inherit;
}

.singleArticle .titleSection {
  margin-bottom: 2em;
}

.singleArticle .titleSection .title {
  margin-bottom: 0.2em;
}

.singleArticle .content {
  min-height: 10vh;
}

.singleArticle .placeholder {
  min-height: 80vh;
}

/* -------------------目录配置---------------------- */
.tocContainer {
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width:none;
}

.tocContainer ul {
  margin: unset;
}

.tocContainer li {
  font-size: small;
  line-height: 1.2em;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tocContainer li::before{
  content: none;
}

.tocContainer a.active {
  font-weight: bold;
  color: var(--maincolor);
}
