/* -------------------单页配置---------------------- */
#TableOfContents {
  max-height: 80vh;
  overflow-y: auto;
}

#TableOfContents ul {
  margin: unset;
}

/* 添加目录高亮样式 */
#TableOfContents a.active {
  font-weight: bold;
  color: var(--maincolor);
}

.singleRightSide .tags ul{
  display: flex;
  gap: 20px;
  margin-top: var(--gMarginBottomSize);
  margin-left: 2ch;
}

.singleRightSide li {
  font-size: small;
  line-height: 1.2em;
}

.singleRightSide .tags a {
  /* font-size: medium; */
  color: var(--maincolor);
  background-color: var(--tagColor);
  border-radius: 4px;
  border-bottom: 2px solid var(--maincolor);
  padding-left: 5px;
  padding-right: 5px;
}

.singleRightSide .tags li::before{
  content: none;
}

.singleArticle a {
  color: mediumblue;
}

.singleArticle .footerMenu a {
  color: inherit;
}

.singleArticle .titleSection {
  margin-bottom: 2em;
}

.singleArticle .titleSection .title {
  margin-bottom: 0.2em;
}

.singleArticle .content {
  min-height: 10vh;
}

.singleArticle .placeholder {
  min-height: 80vh;
}
