<footer class="commonMain footerMain">
  <div class="commonArticle footerMenu">
    <span>{{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} {{ end }}</span>
  </div>
  <div class="commonRightSide footerRightSide"></div>
</footer>

{{- if eq .Kind "page" -}}
<script src="{{ absURL "js/code-copy.js" }}"></script>
{{- end -}}

{{- if or (isset .Site.Params "social") (eq .Site.Params.mode "toggle") -}}
<script src="{{ absURL "js/feather.min.js" }}"></script>
<script>feather.replace()</script>
{{- end -}}

{{- if eq .Site.Params.mode "toggle" -}}
<script src="{{ absURL "js/themetoggle.js" }}"></script>
<script>
  document.getElementById('theme-icon').setAttribute('stroke-width', '3');
</script>
{{- end -}}

<!-- Mathjax support -->
{{- if eq .Kind "page" -}}
{{ with .Site.Params.mathjax }}
<script type="text/javascript" src="{{ absURL "js/MathJax.js "}}"></script>

<!-- inline Mathjax -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
          extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>
{{ end }}
{{- end -}}

<!-- KaTeX support -->
{{- if eq .Kind "page" -}}
{{ with .Site.Params.katex }}
<script defer src="{{ absURL "js/katex.min.js" }}"></script>
<script defer src="{{ absURL "js/katex-auto-render.min.js" }}"></script>

<!-- inline KaTeX -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false}
      ]
    });
  });
</script>
{{ end }}
{{- end -}}

<!-- 导航栏跳转处理 -->
{{- if eq .Kind "page" -}}
<script src="{{ absURL "js/toc-navigation.js" }}"></script>
{{- end -}}

<!-- Mermaid图表渲染 -->
{{- if eq .Kind "page" -}}
<script type="text/javascript" src="{{ absURL "js/mermaid.min.js" }}"></script>
<script type="text/javascript" src="{{ absURL "js/mermaid-render.js" }}"></script>
{{- end -}}

<!-- SVG渲染 -->
{{- if eq .Kind "page" -}}
<script type="text/javascript" src="{{ absURL "js/svg-pan-zoom.min.js" }}"></script>
<script type="text/javascript" src="{{ absURL "js/svg-render.js" }}"></script>
{{- end -}}
